.color_1 {
  background: #13183f;
}

.color_2 {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.color_3 {
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

.color_4 {
  background: #666ca3;
}

.color_5 {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.color_6 {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}


