.titles h2 {
  color: #13183f;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 40px;
  font-weight: 800;
}

.titles h5 {
  color: #83869a;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 35px;
}

.titleh1 {
  color: #83869a;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 40px;
  font-weight: 800;
}

.titleh2 {
  color:  #13183f;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 56px;
  font-weight: 800;
  width: 630px;
}
